


.active{
    background-color: pink;
}

nav{
    display: flex;
    padding: 0px 5px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}

.title{
    font-size: 55px;
    background-color: rgb(167, 168, 167);
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 55px;
    color: white;
}


nav ul{
    background-color: azure;
    display: flex;
    margin-right: 75px;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    margin: 1px;
    padding: 3px;
}


nav ul li a:not(.active):hover{
    background-color: rgb(226, 122, 252);
    /*height: 100%;*/
}


nav .burger{
    display: none;
    position: absolute;
    top: 3.5vh;
    right: 5px;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(3, 3, 3);
    width: 30px;
    height: 35px;
    /*border: 1px solid red;*/
}

nav .burger span {
    background-color: pink;
    width: 100%;
    height: 3px;
}



@media (max-width: 500px){
    nav .burger{
        display: flex;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0px;
        text-align: center;
    }

    nav ul.open{
        display: flex;
    }

    nav ul li{
        width: 100%;
        /*text-align: center;*/
    }
    nav ul li a{
        margin: 0px;
        padding: 25px;
    }

    nav ul li a.clicked{
        display: none;
    }

   
}
    
